@page
@model LAB7.Pages_Rings.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Ring</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ring.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ring.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ring.Material)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ring.Material)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Ring.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
