@{
    ViewData["Title"] = "Elf";
    Layout = "_Main";
    Tuple<string, bool>[] tableHeader = { Tuple.Create("ID", false), Tuple.Create("Name", true), Tuple.Create("Hobbit Friend ID", false) };
}
@model List<LAB7.Models.Elf>

<div>

    <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
        <thead>
            <tr>
                @foreach (var title in tableHeader)
                {
                @if (@title.Item2)
                {
                <th class="mdl-data-table__cell--non-numeric">@title.Item1</th>
                }
                else
                {
                <th>@title.Item1</th>
                }
                }
            </tr>
        </thead>

        <tbody>
            @foreach (LAB7.Models.Elf elf in @Model)
            {
            <tr>
                <td>@elf.Id</td>
                <td class="mdl-data-table__cell--non-numeric">@elf.Name</td>
                <td>@elf.HobbitFriend</td>
            </tr>
            }
        </tbody>
    </table>

</div>